
*
{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
body
{
background: #f4ecec;
}
.container-fluid
{
width: 100%;
height: auto;
padding: 0px 0px 80px 0px;
}
.container
{
width: 1200px;
height: auto;
margin: auto;
}
.container .search
{
display: flex;
padding: 30px 0px;
justify-content: space-between;
}
.container .search h1
{
letter-spacing: 3px;
display: inline-block;
border-bottom: 2px solid rgb(106, 9, 84);
padding-bottom: 10px;
color: #9a1e3b;
}
.container .search input
{
width: 60%;
padding: 5px 16px;
background: transparent;
border: 2px solid #010101;
font-size: 20px;
text-transform: capitalize;
letter-spacing: 3px;
outline: none;
border-radius: 10px;
}
.container .search input::placeholder
{
color:   #1f5784 ;
font-weight: 500;
}
.container .product-list
{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
text-align: left;
}
.container .product-list .product
{
margin-top: 30px;
}
.container .product-list .product h3
{
padding-top: 5px;
letter-spacing: 2px;
font-size: 22px;
font-weight: 400;
}
.container .product-list .product h4
{
padding: 3px 0px;
color: #48a809;
font-weight: 700;
letter-spacing: 3px;
}
.product-list {
    display: flex;
    justify-content: space-between;
  }
  
  .product {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Set a fixed height */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product img {
    width: 100%;
    height: 150px; /* Fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add margin between image and address */
  }
  
  
  .product:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .product-list {
      flex-wrap: wrap;
    }
  
    .product {
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }
  
